.card {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 99%;
}

.details {
  align-items: center;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
}

.price {
  align-items: center;
  display: flex;
  justify-content: center;
}
