.main {
  width: 75%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

:root {

  --branco: #f8f9fc;

  --cinza: #7b86aa;

  --azulclaro: #bfc8ea;

  --preto: #545051;

  --azul: #5b67a2;
}

.header-menu {
  background-color: var(--cinza);
  display: flex;
  flex-flow: row;
  height: 100px;
}

.header-menu a {
  text-decoration: none;
}

.container-col {
  display: flex;
  flex-flow: column;
}

.container-row {
  display: flex;
  flex-flow: row wrap;
}

.categorias {
  width: 20%;
}

.categorias li {
  list-style: none;
}
