.main {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 75%;
}

:root {
  --branco: #f8f9fc;
  --cinza: #7b86aa;
  --azulclaro: #bfc8ea;
  --preto: #545051;
  --azul: #5b67a2;
}

header {
  align-items: center;
  background-color: var(--azul);
  display: flex;
  flex-flow: row;
  height: 15vh;
  justify-content: space-between;
}

header a {
  color: var(--branco);
  text-decoration: none;
}

nav {
  min-width: 22vw;
  box-shadow: #545051 0 10px 10px 0;
}

nav li {
  border-bottom: 0.5px rgba(0, 0, 0, 0.2) solid;
  border-bottom-right-radius: 10px;
  line-height: 2.2rem;
}

nav a, a:active, a:visited {
  text-decoration: none;
}

main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 100%;
}

.container-col {
  display: flex;
  flex-flow: column;
}

.container-row {
  display: flex;
}

.categorias li {
  list-style: none;
}

.item {
  min-height: 350px;
  text-align: center;
}
