.main {
  width: 75%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

:root {

  --branco: #f8f9fc;

  --cinza: #7b86aa;

  --azulclaro: #bfc8ea;

  --preto: #545051;

  --azul: #5b67a2;
}

header {
  height: 15vh;
  background-color: var(--azul);
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: var(--branco);
  text-decoration: none;
}

.container-col {
  display: flex;
  flex-flow: column;
}

.container-row {
  display: flex;
}

.categorias li {
  list-style: none;
}
