.main {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 75%;
}

:root {

  --branco: #f8f9fc;

  --cinza: #7b86aa;

  --azulclaro: #bfc8ea;

  --preto: #545051;

  --azul: #5b67a2;
}

header {
  align-items: center;
  background-color: var(--azul);
  display: flex;
  flex-flow: row;
  height: 15vh;
  justify-content: space-between;
}

header a {
  color: var(--branco);
  text-decoration: none;
}

.container-col {
  display: flex;
  flex-flow: column;
}

.container-row {
  display: flex;
}

.categorias li {
  list-style: none;
}

.item {
  min-height: 350px;
  text-align: center;
}
